* {
    padding: 0;
    margin: 0; /*jadi mepet*/
    box-sizing: border-box;
}

body {
    font-family: 'Silkscreen', cursive;
    background-color: whitesmoke;
}

img {
    width: 100%;

}

.contact-app {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.contact-app h1 {
    text-align: center;
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 42px;
}

.contact-item {
    display: flex; /*jadi ke samping*/
    align-items: center;
    margin: 10px 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
}

.contact-item__image img {
    width: 64px;
    border-radius: 50%; /*membuat bulat*/
}

.contact-item__body {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #aaa;
    flex: 1;
}

.test {
    text-decoration: none;
    color: #aaa;
}

.test:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.contact-item__username {
    font-family: 'Silkscreen', cursive;
    text-decoration: none;
    color: #aaa;
}

.contact-item__username:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.contact-item__name {
    padding: 4px 0;
}

.contact-item__username {
    font-weight: lighter;
}

.contact-item__delete {
    padding: 8px;
    font-size: 18px;
    background-color: orangered;
    color: white;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}

.contact-input {
    border: 1px solid black;
    padding: 16px;
    margin: 14px 0;
    border-radius: 8px;
    margin-bottom: 32px;
  }
   
  .contact-input input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    font-family: 'Inter', sans-serif;
  }
   
  .contact-input button {
    width: 100%;
    padding: 8px;
    font-family: 'Inter', sans-serif;
  }